@use '../abstracts/variables';
@use '../abstracts/colors';

.crew-container {
  padding: 10rem 0 0 8rem;
}

.crew-container > h2{
    color: colors.$white;
}

.selector-container {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.selector {
  width: 15px;
  height: 15px;
  background-color: colors.$transparent-white;
  gap: 2rem;
  margin-right: 1rem;
  border-radius: 100%;
  cursor: pointer;
}

.crew-container h1 {
  font: variables.$heading-3;
  color: colors.$white;
  text-transform: uppercase;
}

.selector-active {
  background-color: colors.$white;
}

.crew-grid {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.crew-info {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
}

  .crew-container .line {
    display: none;
  }

@media screen and (max-width: 968px) {
  .crew-grid {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
  }

  .selector-container{
   justify-content: center; 
  }


  .crew-info {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 768px) {
  .crew-container > h2{
    padding-left: inherit;
  }

  .crew-grid {
    flex-direction: column;
  }

  .crew-container img {
    max-width: 70%;
  }

  .crew-container .line {
    display: block;
  }
}
