@use "../abstracts/mixins";
@use "../abstracts/variables";
@use "../abstracts/colors";

.destination-container {
  width: 100%;
  min-height: 100vh;
  padding: 10rem 6rem 0;
}

.planet-info h1 {
  font: variables.$heading-2;
  color: colors.$white;
  text-transform: uppercase;
}

.planet-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  place-items: center;
  gap: 3rem;
}

.planet-info img {
  animation: rotate infinite linear 10s;
  max-width: 100%;
}

.planet-info ul {
  display: flex;
  margin: 2rem 0;
}

.planet-info ul li {
  color: colors.$powder-blue;
  text-transform: uppercase;
  margin: 0 1rem;
  font: variables.$nav-text;
  position: relative;
  cursor: pointer;
}

.destination-container h2 {
  color: colors.$white;
}

h2 span {
  font-weight: bold;
  color: colors.$powder-blue;
}

.more-info {
  display: flex;
  gap: 3rem;
}

.planet-info h1 {
  font: variables.$heading-2;
  color: white;
  text-transform: uppercase;
}

.planet-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  place-items: center;
  gap: 3rem;
}

.planet-info img {
  animation: rotate infinite linear 15s;
}

.line{
  background-color: colors.$powder-blue;
  width: 100%;
  height: .1px;
  margin: 2rem 0;
}

.planet-info ul {
  display: flex;
  margin: 2rem 0;
}

.planet-info ul li {
  color: colors.$white;
  text-transform: uppercase;
  font: variables.$nav-text;
  position: relative;
  cursor: pointer;
}

.destination-container h2 {
  color: colors.$white;
}

.more-info {
  display: flex;
  gap: 3rem;
}

.more-info h2 {
  display: flex;
  flex-direction: column;
  color: colors.$powder-blue;
  font: variables.$body-text;

  span {
    font: 1.5rem "Bellefair";
    color: colors.$white;
    margin: 1rem 0;
    letter-spacing: 1px;
  }
}

.planet-info li::after {
  @include mixins.neon-underline;
  bottom: -10px;
}

.planet-info .active::after,
.planet-info li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
